# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
g_sync.bat
ckksrns/vs22/x64/Debug/vs.pdb
ckksrns/vs22/vs/x64/Debug/vs.ilk
ckksntt/vs22/.vs/vs/FileContentIndex/3ef76b7a-0607-411a-bb57-9ff58b043cad.vsidx
ckksrns/vs22/vs/x64/Debug/vs.tlog/link.secondary.1.tlog
ckksrns/vs22/vs/x64/Debug/vs.tlog/link.write.1.tlog
ckksrns/vs22/vs/x64/Debug/vs.tlog/vs.lastbuildstate
ckksrns/vs22/vs/x64/Debug/vs.tlog/Cl.items.tlog
ckksrns/vs22/vs/x64/Debug/vs.log
ckksrns/vs22/vs/x64/Debug/vs.tlog/CL.read.1.tlog
ckksrns/vs22/vs/x64/Debug/vs.exe.recipe
ckksrns/vs22/vs/x64/Debug/vc143.idb
ckksrns/vs22/vs/x64/Debug/rns.new.obj.enc
ckksrns/vs22/vs/x64/Debug/ckkselem.new.obj.enc
ckksrns/vs22/vs/x64/Debug/vc143.pdb
ckksrns/vs22/.vs/vs/v17/Solution.VC.db
ckksrns/vs22/.vs/vs/v17/ipch/AutoPCH/c2e56d90e1453ec9/RNS.ipch
ckksrns/vs22/.vs/vs/v17/ipch/AutoPCH/739e5e5751ed75ad/TMAIN.ipch
ckksrns/vs22/.vs/vs/v17/ipch/AutoPCH/47bdbb9fe881af71/CKKSELEM.ipch
ckksrns/vs22/.vs/vs/v17/ipch/AutoPCH/2ae5508d3917c5cb/MAIN.ipch
ckksrns/vs22/.vs/vs/v17/DocumentLayout.json
ckksrns/vs22/.vs/vs/v17/Browse.VC.opendb
ckksrns/vs22/.vs/vs/v17/ipch/AutoPCH/a68c90adc1126408/POLY.ipch
ckksrns/vs22/.vs/vs/v17/Browse.VC.db-shm
ckksrns/vs22/.vs/vs/v17/Browse.VC.db
ckksrns/vs22/.vs/vs/v17/Browse.VC.db-wal
ckksrns/study/z
ckksrns/diff.txt
*.tlog
*.log
*.db
*.ipch
ckksrns/vs22/.vs/vs/v17/.suo
*.vsidx
*.pdb
*.ilk
ckksntt/vs22/vs/x64/Debug/vs.exe.recipe
*.idb
ckksntt/vs22/vs/x64/Debug/tmain.obj.enc
ckksntt/vs22/vs/x64/Debug/ckkselem.new.obj.enc
ckksntt/vs22/.vs/vs/v17/DocumentLayout.json
ckksntt/vs22/.vs/vs/v17/.suo
*.tmp
*.enc
ckksrns/vs22/vs/x64/Debug/vs.vcxproj.FileListAbsolute.txt
